# macOS
.DS_Store

# Xcode
xcuserdata/
*.xcscmblueprint
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods (uncomment if this project ever adopts it)
# Pods/

# Simulator / build products
build/
